# prevent add of sftp configuration file
sftp-config.json

# package control specific files
Package Control.*
bh_unicode_properties.cache
oscrypto-ca-bundle.crt

# Misc
.DS_Store
TextPastryHistory.sublime-settings
Theme - Monokai Pro/

snippets/
