# prevent add of sftp configuration file
sftp-config.json

# package control specific files
Package Control.*
bh_unicode_properties.cache
oscrypto-ca-bundle.crt

# Misc
TextPastryHistory.sublime-settings

snippets/
